<!DOCTYPE html>
<html lang="zh-CN" data-theme="dark">
<head>
    <link rel="preconnect" href="https://jsd.owoser.cn">
    <link rel="dns-prefetch" href="https://jsd.owoser.cn">
    <script src="js/theme-init.js"></script>
    <script src="js/app-version.js" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.siteConfig.name %> | 用户中心</title>
    <link href="https://jsd.owoser.cn/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="shared/css/tokens.css" rel="stylesheet">
    <link href="shared/css/layout.css?_b=202607180400" rel="stylesheet">
    <link href="shared/css/components.css?_b=202607180400" rel="stylesheet">
    <link href="shared/css/theme.css" rel="stylesheet">
    <link href="css/user-center.css?_b=202607180400" rel="stylesheet">
    <script src="https://jsd.owoser.cn/npm/marked@11.1.1/marked.min.js" defer></script>
    <script src="https://jsd.owoser.cn/npm/dompurify@3.0.8/dist/purify.min.js" defer></script>
</head>
<body>
<%- include('../partials/header', { brandName: locals.siteConfig.logo_text, showRefresh: true, showMessages: true }) %>
<%- include('../partials/sidebar-user-center') %>
<div class="sidebar-overlay" id="sidebarOverlay"></div>
<main class="main-wrap" id="mainContent">

    <template id="appTemplate">
</template>
    <div id="app"></div>

</div>
<script src="https://jsd.owoser.cn/npm/vue@3.3.11/dist/vue.global.prod.js"></script>
<script src="https://jsd.owoser.cn/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://jsd.owoser.cn/npm/qrcodejs2@0.0.2/qrcode.min.js"></script>
<script src="js/shared.js?_b=202607180400"></script>
<script src="components/pv-button.js?_b=202606184000"></script>
<script src="js/user-center-template.js?_b=202607180400"></script>
<script src="js/user-center-page.js?_b=202607180400"></script>
</body>
</html>